<app-navbar></app-navbar>
<div class="contentpage">
<div class="cards" *ngFor="let card of cardslist">
<mat-card class="example-card">
 
    <img class="card-image" mat-card-image src={{card.image}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{card.title.slice(0,40)}}
      </p>
    
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>${{card.price}}</button>
      <button mat-button><button (click) = "additemtocart(card.id)" class="btn btn-warning">Add to Cart</button></button>
    </mat-card-actions>
  </mat-card>
</div>

</div>