

<div class="navbar"> 
    <a routerLink="/content"><img class = "navbar-logo" src="../../../assets/amazon.jpg" alt="amazon logo"></a>
    <div class="navbar-searcharea"> 
     <input class="navbar-searchbar" type="text" placeholder="Type Amazon.in">
     <button ><img class="navbar-mangnifyglass" src="../../../assets/mangnifyglass.jpeg" alt=""></button>
    </div>
   <a routerLink="../cart"><img class="navbar-cartimage" src="../../../assets/amazoncart.png" alt=""><p style="text-decoration: none; color: black ;">Cart</p></a>

</div>